<ion-card class="card-alunos-av" style="margin-top: 10px; padding-top: 5px; ">


  <div style="padding: 16px; padding-top: 0px; padding-bottom: 0px;">
    <ion-item-divider style="--padding-start: 0px;">
      <ion-icon slot="start" name="list" size="small" style="margin-right: 0px"></ion-icon>
      <ion-label style="margin: 5px;">
        <div style="font-size: 20px; font-weight: bold;">
          Alunos para avaliação
        </div>
      </ion-label>
      <ion-icon slot="end" name="search" style="margin-right: 0px;"></ion-icon>
    </ion-item-divider>
  </div>

  <ion-content>

    <ion-list lines="none" *ngFor="let aluno of alunos" style="padding-top: 0px; padding-bottom: 0px">
      <ion-item (click)="avaliar()">
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-label>{{aluno.nome}}</ion-label>
        <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-content>


</ion-card>