

<div>
<ion-list>
  <ion-item *ngFor="let aluno of alunos">
    <label>{{aluno.nome}}</label>
  </ion-item>
</ion-list>
</div>
<!-- <div class="div-list-children">

  

  <ion-list lines="none" class="list-children" *ngFor="let aluno of alunos; let i = index">

    <ion-item class="item-list-children" (click)="avaliar()">
      <ion-icon class="icon-children" slot="start" size="small" src="assets/svg/icon-bebe.svg"
        style="margin-right: 12px;"></ion-icon>
      <ion-label>{{aluno.nome | uppercase}}</ion-label>
      <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
    </ion-item>

    <ion-item-sliding class="item-list-children" [ngStyle]="{'border-color': (aluno[i].dataPresenca ? '#F1F3F2' : '#CDD2D3')}">

      <ion-item-options side="start">
        <ion-item-option color="danger" expandable (click)="registrarFrequencia(i)" *ngIf="!aluno[i].dataPresenca">F
        </ion-item-option>
        <ion-item-option color="primary" expandable (click)="registrarFrequencia(i)" *ngIf="aluno[i].dataPresenca">P
        </ion-item-option>
      </ion-item-options>

      <ion-item (click)="avaliar()" [disabled]="aluno[i].dataPresenca">
        <ion-icon class="icon-children" slot="start" size="small" src="assets/svg/icon-bebe.svg"
          [ngStyle]="{'background': (aluno[i].dataPresenca ? '#CDD2D3' : '#FFC205')}"></ion-icon>
        <ion-label [ngStyle]="{'color': (aluno[i].dataPresenca ? '#CDD2D3' : '#444444')}">{{aluno.nome | uppercase}}
        </ion-label>
        <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
      </ion-item>

    </ion-item-sliding>

  </ion-list>
</div>

<div class="div-orientation">
  <label>{{turma.value.id}}</label>
  <div class="div-container-orientation">
    <ion-label class="label-orientation">Para ver a lista completa, role para cima.</ion-label>
  </div>
</div> -->