

<!-- Codigo correspondente ao card atividade -->

<!-- <div style="margin: 5px;">
    <ion-item lines="none" style="border: 0.5px solid #E9E9E9; border-radius: 5px;">
        <ion-icon slot="start" color="medium" name="bookmark" style="margin-right: 16px;"></ion-icon>
        <ion-label class="ion-text-wrap">
            <div style="margin-bottom: 5px;">
                <h2 style="display: inline;">Pintura criativa</h2>
                <ion-note slot="end" style="float: right;">
                    <h4>27 de out</h4>
                </ion-note>
            </div>
            <h3 class="ion-text-justify">Pintura para desenvolver a coordenação motora e trabalhar a criativade e
                inteligencia.</h3>
        </ion-label>
    </ion-item>
</div> -->


<!-- Codigo correspondente ao formulario de criar nova atividade -->
<!--
<ion-header mode="ios">
        <ion-toolbar>
          Implementar a navegação para a atividade na TAB e no arquivoModule.ts
          <ion-buttons slot="start">
            <ion-button (click)="closeNovaAtividade()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
      
          <ion-title>Atividades</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding" style="--background: #F7F7F7;">
      
        <div>
          <form [formGroup]="novaAtividadeForm" (ngSubmit)="onSubmit()">
            <ion-item lines="none" style="border: 1px solid #E9E9E9; border-radius: 5px; margin-bottom: 10px;">
              <ion-label position="floating">Titulo</ion-label>
              <ion-input formControlName="titulo" type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" style="border: 1px solid #E9E9E9; border-radius: 5px; margin-bottom: 20px;">
              <ion-label position="floating">Descrição</ion-label>
              <ion-textarea rows="2" formControlName="descricao" type="text" autoGrow="true"></ion-textarea>
            </ion-item>
          </form>
        </div>
      
      </ion-content>
      
      <ion-footer>
          <ion-toolbar color="warning">
              <ion-button style="--background: none;" expand="full" fill="clear" color="light" size="large" type="submit" [disabled]="novaAtividadeForm.invalid">
                Salvar
              </ion-button>
          </ion-toolbar>
        </ion-footer>
 -->
<!-- ===================================================================================== -->  
 <!-- //------------------------------------    
 // Partes do Código de Home.page.html
 //------------------------------------
<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<div style="height: 70px"> 
  <div class="header-data" style="display: inline-flex; float: left;">
    <ion-label>
      <h1 style="font-size: 32px;">Hoje</h1>
      <p style="font-size: 16px;">Terça-feira, 1 de Outubro</p>
    </ion-label>
  </div>
  <div class="select-turmas" (click)="openSelect()"
    style="display: flex; 
    align-items: center; 
    float: right; 
    max-width: 160px; 
    height: 36px;
    margin-top: 12px; 
    background: white; 
    border-radius: 3px;">

    <div style="font-size: 16px; padding-left: 8px; color: black;">
      {{turmaSelecionada}}
    </div>

    <ion-buttons slot="primary" *ngIf="true" style="display: inline-block;">
      <ion-button class="icon-select" color="dark" disabled>
        <ion-icon slot="icon-only" name="arrow-down" mode="ios" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>

  </div>

</div>

<div style="height: 10px"></div>

<app-lista-alunos-avaliacao></app-lista-alunos-avaliacao> 

<div style="text-align: center; 
    border: 1px solid lightgrey;
    padding: 3px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 10px;
    margin-bottom: 5px;">
      <ion-item lines="none">
        <ion-icon slot="start" name="add" style="margin-right: 12px;"></ion-icon>
        <label>Francisco Elineuton</label>
        <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
      </ion-item>
    </div>

    <div class="div-list-children">
      <ion-list lines="none" class="list-children">
        <ion-item class="item-list-children">
            <ion-icon slot="start" name="add" style="margin-right: 12px;"></ion-icon>
            <ion-label>Pokémon Yellow</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
        <ion-item class="item-list-children">
            <ion-icon slot="start" name="add" style="margin-right: 12px;"></ion-icon>
            <ion-label>Pokémon Yellow</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
        <ion-item class="item-list-children">
            <ion-icon slot="start" name="add" style="margin-right: 12px;"></ion-icon>
            <ion-label>Pokémon Yellow</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
        <ion-item class="item-list-children">
            <ion-icon slot="start" name="add" style="margin-right: 12px;"></ion-icon>
            <ion-label>Pokémon Yellow</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
        <ion-item class="item-list-children">
            <ion-icon slot="start" name="add" style="margin-right: 12px;"></ion-icon>
            <ion-label>Pokémon Yellow</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
        <ion-item class="item-list-children">
            <ion-icon slot="start" name="add" style="margin-right: 12px;"></ion-icon>
            <ion-label>Pokémon Yellow</ion-label>
            <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
      </ion-list>
    </div> -->

 <!--  =====================================================================================  -->
 <!-- //
 // Parte do Código de lista-alunos-avaliação.page.html
 //

<ion-card class="card-alunos-av" style="margin-top: 10px; padding-top: 5px; ">


<div style="padding: 16px; padding-top: 0px; padding-bottom: 0px;">
    <ion-item-divider style="--padding-start: 0px;">
      <ion-icon slot="start" name="list" size="small" style="margin-right: 0px"></ion-icon>
      <ion-label style="margin: 5px;">
        <div style="font-size: 20px; font-weight: bold;">
          Alunos para avaliação
        </div>
      </ion-label>
      <ion-icon slot="end" name="search" style="margin-right: 0px;" (click)="exibeBarraPesquisa = !exibeBarraPesquisa"
        *ngIf="!exibeBarraPesquisa"></ion-icon>
      <ion-icon slot="end" name="close" style="margin-right: 0px;" (click)="exibeBarraPesquisa = !exibeBarraPesquisa"
        *ngIf="exibeBarraPesquisa"></ion-icon>
    </ion-item-divider>
  </div> 

<div *ngIf="exibeBarraPesquisa">
    <ion-searchbar placeholder="Buscar aluno" mode="ios">
    </ion-searchbar>
  </div>


<ion-list lines="none" *ngFor="let aluno of alunos" style="padding-top: 0px; padding-bottom: 0px">
      <ion-item (click)="avaliar()">
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-label>{{aluno.nome}}</ion-label>
        <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-list>

</ion-card> -->


<!-- <ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="openPeriodo = !openPeriodo">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons> 

    <ion-title>Atividades</ion-title>

  </ion-toolbar>
</ion-header> -->

<!-- <div *ngIf="openPeriodo">
  <ion-list style="padding: 0px">
    <ion-item lines="none">
      <ion-label>Data Inicial</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Ex.: 02/07/2019"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Data Final</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Ex.: 05/07/2019"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-button expand="full" mode="ios" style="margin: 0px;" color="warning">Filtrar</ion-button>
</div> -->

<!--  =====================================================================================  -->
 <!-- //
 // Parte do Código de atividades.page.html
 //

    Searchbar with a placeholder

    <ion-grid fixed style="padding: 0px;">
    <ion-row>
      <ion-col size="10">
        <ion-searchbar placeholder="Filtrar por Descrição" mode="ios" style="padding: 0px;"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none" style="--background: rgba(var(--ion-text-color-rgb,0,0,0),0.07); border-radius: 10px; margin-left: 0px;     margin-left: 0px;
          margin-top: 12px; height: 36px;" (click)="openSelect()">
          <ion-icon name="funnel" mode="md" style="margin-bottom: 12px;"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-select interface="popover" #filtro [hidden]='showFiltros' (ionChange)='setFiltro()' *ngIf="true">
    <ion-select-option value="hoje" selected>Hoje</ion-select-option>
    <ion-select-option value="semana">Esta semana</ion-select-option>
    <ion-select-option value="mês">Este Mês</ion-select-option>
    <ion-select-option value="ano">Este Ano</ion-select-option>
    <ion-select-option value="tudo">Tudo</ion-select-option>
  </ion-select> -->


  <ion-content class="ion-padding" style="--background: #F7F7F7; border-radius: 3px;">


    <!--  <ion-list>
      <ion-list-header>
        <ion-label>Alimentação</ion-label>
      </ion-list-header>
  
      <ion-item *ngFor="let item of questoesAlimentacao">
        <ion-label>{{item.descricao}}</ion-label>
        <ion-select interface="popover" placeholder="">
          <ion-select-option value="">Aceitou bem</ion-select-option>
          <ion-select-option value="">Aceitou pouco</ion-select-option>
          <ion-select-option value="">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
  
    </ion-list> -->
  
  
    <div
      style="display:flex;justify-content:center;align-items:center; height: 32px; margin-bottom: 2px; background: white; border: 0.5px solid #E9E9E9;">
      <ion-label style="font-size: 12px;">{{"Salva em rascunho" | uppercase}}</ion-label>
    </div>
  
  
  
    <form [formGroup]="avaliacaoForm" (ngSubmit)="onSubmit()">
  
      <ion-list style="padding-top: 0px;">
  
        <ion-item-group>
          <ion-item-divider style="background: #e4e4e4; border-bottom-width: 0px;">
            <ion-icon name="alert" slot="start" size="small"
              style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
            <ion-label style="font-size: 16px; color: goldenrod;">{{"Alimentação" | uppercase}}</ion-label>
          </ion-item-divider>
  
          <ion-item *ngFor="let item of questoesAlimentacao;" lines="none">
            <ion-label>{{item.descricao}}</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
              <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
              <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item-divider style="background: #e4e4e4; border-bottom-width: 0px;">
            <ion-icon name="alert" slot="start" size="small"
              style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
            <ion-label style="font-size: 16px; color: goldenrod;">{{"Higiene" | uppercase}}</ion-label>
          </ion-item-divider>
  
          <ion-item lines="none">
            <ion-label>Banho</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="1 vez">1 vez</ion-select-option>
              <ion-select-option value="2 vezes">2 vezes</ion-select-option>
              <ion-select-option value="3 vezes">3 vezes</ion-select-option>
              <ion-select-option value="4 ou mais vezes">4 ou mais vezes</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Fralda</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="1 vez">1 vez</ion-select-option>
              <ion-select-option value="2 vezes">2 vezes</ion-select-option>
              <ion-select-option value="3 vezes">3 vezes</ion-select-option>
              <ion-select-option value="4 ou mais vezes">4 ou mais vezes</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Escovação</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="1 vez">1 vez</ion-select-option>
              <ion-select-option value="2 vezes">2 vezes</ion-select-option>
              <ion-select-option value="3 ou mais vezes">3 ou mais vezes</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item-divider style="background: #e4e4e4; border-bottom-width: 0px;">
            <ion-icon name="alert" slot="start" size="small"
              style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
            <ion-label style="font-size: 16px; color: goldenrod;">{{"Sono" | uppercase}}</ion-label>
          </ion-item-divider>
  
          <ion-item lines="none">
            <ion-label>Dormiu</ion-label>
            <ion-toggle slot="end" color="warning" formControlName="dormiu"></ion-toggle>
          </ion-item>
  
          <ion-item lines="none" *ngIf="avaliacaoForm.get('dormiu').value == true">
            <ion-label>Estado</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="tranquilo">Tranquilo</ion-select-option>
              <ion-select-option value="agitado">Agitado</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item-divider style="background: #e4e4e4; border-bottom-width: 0px;">
            <ion-icon name="alert" slot="start" size="small"
              style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
            <ion-label style="font-size: 16px; color: goldenrod;">{{"Saúde" | uppercase}}</ion-label>
          </ion-item-divider>
  
          <ion-item lines="none">
            <ion-label>Urina</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="normal">Normal</ion-select-option>
              <ion-select-option value="escura">Escura</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Evacuação</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="normal">Normal</ion-select-option>
              <ion-select-option value="ressecada">Ressecada</ion-select-option>
              <ion-select-option value="esbranquiçada">Esbranquiçada</ion-select-option>
              <ion-select-option value="diarréia">Diárréria</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Febre</ion-label>
            <ion-toggle slot="end" name="febre" color="warning"></ion-toggle>
          </ion-item>
  
          <ion-item-divider style="background: #e4e4e4; border-bottom-width: 0px;">
            <ion-icon name="alert" slot="start" size="small"
              style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
            <ion-label style="font-size: 16px; color: goldenrod;">{{"Socialização" | uppercase}}</ion-label>
          </ion-item-divider>
  
          <ion-item lines="none">
            <ion-label>Interação</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="boa">Boa</ion-select-option>
              <ion-select-option value="razoável">Razoável</ion-select-option>
              <ion-select-option value="fraca">Fraca</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item lines="none">
            <ion-label>Participação</ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="atenta">Atenta</ion-select-option>
              <ion-select-option value="dispersa">Dispersa</ion-select-option>
            </ion-select>
          </ion-item>
  
          <ion-item-divider style="background: #e4e4e4; border-bottom-width: 0px;">
            <ion-icon name="alert" slot="start" size="small"
              style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
            <ion-label style="font-size: 16px; color: goldenrod;">{{"Observação" | uppercase}}</ion-label>
          </ion-item-divider>
  
          <ion-item lines="none">
            <ion-input type="text" placeholder="Fazer observação" clearInput></ion-input>
          </ion-item>
  
  
        </ion-item-group>
      </ion-list>
    </form>
  
  
  </ion-content>
  
  <!-- <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active">
          <ion-label>Salvar rascunho</ion-label>
          <ion-icon slot="start" name="finger-print"></ion-icon>
        </ion-button>
      </ion-buttons>
  
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active">
          <ion-label>Concluir avaliação</ion-label>
          <ion-icon slot="start" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer> -->

  <!-- <div style="margin: 0 75px 0 75px; border: 1px solid #e9e9e9; border-radius: 10px; padding: 5px;">
    <div style="padding: 16px; padding-top: 0px; padding-bottom: 0px;">
        <ion-item-divider style="--padding-start: 0px;">
          <ion-icon slot="start" name="list" size="small" style="margin-right: 0px"></ion-icon>
          <ion-label style="margin: 5px;">
            <div style="font-size: 16px; font-weight: bold;">
              Alunos para avaliação
            </div>
          </ion-label>
        </ion-item-divider>
      </div> 
    
    <ion-list style="
    height: 42vh; overflow-y: scroll;">
        <ion-item lines="none" *ngFor="let aluno of alunos">
          <ion-icon name="person" mode="ios" slot="start" style="margin-right: 12px;"></ion-icon>
          <ion-label>
            {{aluno.nome}}
          </ion-label>
          <ion-icon slot="end" name="arrow-forward" mode="ios"></ion-icon>
        </ion-item>
    </ion-list>
</div> -->

<!-- <div class="div-title-list-children">
  <ion-item lines="none">
    <ion-icon name="list" slot="start" style="margin-right: 12px;"></ion-icon>
    <ion-label class="label-title-list-children">Crianças</ion-label>
  </ion-item>
</div> -->




<form [formGroup]="avaliacaoForm" (ngSubmit)="onSubmit()">

  <!-- =================== SEÇÃO DE ALIMENTAÇÃO ==================== -->
  <div style="border: 1px solid #e5efef; border-radius: 10px; margin-bottom: 5px;">
    <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0; padding-left: 5px;">
      <ion-icon name="alert" slot="start" size="small"
        style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px; background: #FFC205; border-radius: 50%; padding: 3px;">
      </ion-icon>
      <ion-label style="font-size: 18px; color: #FFC205;">{{"Alimentação" | uppercase}}</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let item of questoesAlimentacao;" lines="none"
      style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; --inner-border-width: 0;">
      <ion-label>{{item.descricao}}</ion-label>
      <ion-select interface="popover" placeholder="" style="color: #9BA5A7; font-weight: bold;">
        <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
        <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
        <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- =================== SEÇÃO DE HIGIENE ==================== -->
  <div style=" border-radius: 10px; margin-bottom: 5px;">
    <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
      <ion-icon name="alert" slot="start" size="small"
        style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
      <ion-label style="font-size: 16px; color: goldenrod;">{{"Higiene" | uppercase}}</ion-label>
    </ion-item-divider>

    <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; "
      *ngFor="let questao of questoesHigiene; let i=index">
      <ion-label>{{questao.descricao}}</ion-label>
      <ion-icon name="remove-circle" (click)="decrementa(i)" style="margin-right: 10px;"></ion-icon>
      <div style="text-align: center; width: 20px; font-weight: bold; color: #9BA5A7;">
        {{questao.quantidade}}
      </div>
      <ion-icon name="add-circle" (click)="incrementa(i)" style="margin-left: 10px;"></ion-icon>
    </ion-item>
  </div>

  <!-- =================== SEÇÃO DE SONO ==================== -->
  <div style="border-radius: 10px; margin-bottom: 5px;">
    <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
      <ion-icon name="alert" slot="start" size="small"
        style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
      <ion-label style="font-size: 16px; color: goldenrod;">{{"Sono" | uppercase}}</ion-label>
    </ion-item-divider>

    <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
      <ion-label>Dormiu</ion-label>
      <ion-note slot="end" *ngIf="avaliacaoForm.get('dormiu').value">Sim</ion-note>
      <ion-note slot="end" *ngIf="!avaliacaoForm.get('dormiu').value">Não</ion-note>
      <ion-toggle slot="end" color="warning" formControlName="dormiu"></ion-toggle>
    </ion-item>

    <ion-item lines="none" *ngIf="avaliacaoForm.get('dormiu').value == true"
      style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
      <ion-label>Estado</ion-label>
      <ion-select interface="popover" placeholder="">
        <ion-select-option value="tranquilo">Tranquilo</ion-select-option>
        <ion-select-option value="agitado">Agitado</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- =================== SEÇÃO DE SAÚDE ==================== -->
  <div style="border-radius: 10px; margin-bottom: 5px;">
    <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
      <ion-icon name="alert" slot="start" size="small"
        style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
      <ion-label style="font-size: 16px; color: goldenrod;">{{"Saúde" | uppercase}}</ion-label>
    </ion-item-divider>

    <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
      <ion-label>Febre</ion-label>
      <ion-note slot="end" *ngIf="avaliacaoForm.get('febre').value">Sim</ion-note>
      <ion-note slot="end" *ngIf="!avaliacaoForm.get('febre').value">Não</ion-note>
      <ion-toggle slot="end" name="febre" color="warning" formControlName="febre"></ion-toggle>
    </ion-item>

    <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
      <ion-label>Urina</ion-label>
      <ion-select interface="popover" placeholder="">
        <ion-select-option value="normal">Normal</ion-select-option>
        <ion-select-option value="escura">Escura</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
      <ion-label>Evacuação</ion-label>
      <ion-select interface="popover" placeholder="">
        <ion-select-option value="normal">Normal</ion-select-option>
        <ion-select-option value="ressecada">Ressecada</ion-select-option>
        <ion-select-option value="esbranquiçada">Esbranquiçada</ion-select-option>
        <ion-select-option value="diarréia">Diárréria</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <!-- =================== SEÇÃO DE SOCIALIZAÇÃO ==================== -->
  <div style="border-radius: 10px; margin-bottom: 5px;">
    <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
      <ion-icon name="alert" slot="start" size="small"
        style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
      <ion-label style="font-size: 16px; color: goldenrod;">{{"Socialização" | uppercase}}</ion-label>
    </ion-item-divider>

    <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
      <ion-label>Interação</ion-label>
      <ion-select interface="popover" placeholder="">
        <ion-select-option value="boa">Boa</ion-select-option>
        <ion-select-option value="razoável">Razoável</ion-select-option>
        <ion-select-option value="fraca">Fraca</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
      <ion-label>Participação</ion-label>
      <ion-select interface="popover" placeholder="">
        <ion-select-option value="atenta">Atenta</ion-select-option>
        <ion-select-option value="dispersa">Dispersa</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</form>

categorias = [
    { nome: 'Alimentação' },
    { nome: 'Saúde' },
    { nome: 'Sono' },
    { nome: 'Higiene' },
    { nome: 'Socialização' }
  ];

  questoesAlimentacao = [
    { descricao: 'Café da manhã' },
    { descricao: 'Lanche da manhã' },
    { descricao: 'Almoço' },
    { descricao: 'Lanche da tarde' }
  ];

  questoesSaude = [
    { descricao: 'Urina' },
    { descricao: 'Evacuação' },
    { descricao: 'Febre' },
  ];

  questoesHigiene = [
    { descricao: 'Banho', quantidade: 0 },
    { descricao: 'Fralda', quantidade: 0 },
    { descricao: 'Escovação', quantidade: 0 },
  ];

  <!-- <ion-toolbar color="dark">
  <ion-buttons slot="secondary">
    <ion-button color="warning">
      <ion-icon slot="icon-only" name="save"></ion-icon>
    </ion-button>
    <ion-button>
      <ion-icon slot="icon-only" name="send"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons> -->
<!-- <ion-buttons slot="primary">
      <ion-button color="warning">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons> -->
<!--   <ion-title>FRANCISCO ELINEUTON</ion-title>
</ion-toolbar>
 -->

 .background-radius {
  background-color: white; 
  width: 120%; 
  height: 87%; 
  left: -10%;
  right:-10%;
  position: absolute; 
  bottom: 0;
  border-top-left-radius: 50% 25%;
  border-top-right-radius: 50% 25%;

  .background-circle {
      background-color: white;
      width: 130px; 
      height: 130px; 
      position: relative;
      top: -60px;
      bottom: 0px;
      margin-left:auto;
      margin-right:auto;
      border-radius: 50% 50%;

      .progress-circle {
          background-color: #A3A0FB;
          width: 100px; 
          height: 100px; 
          right: 0px;
          left: 0px;
          position: absolute;
          margin-top: 10px;
          margin-left:auto;
          margin-right:auto;
          border-radius: 50% 50%;

          .label-progress-circle {
              font-size: 14px;
              color: black;
              width: 110px;
              margin-top: 105px; 
              text-align: center;
              position: relative;
              left: -5px
          }
      }
  }

  .turma-section {
      position: relative;
      padding: 0px 60px 0 60px; 
      top: -20px;
      display:flex; 
      justify-content:center;

      .turma-select {
          display: flex; 
          align-items: center;
          max-width: 300px; 
          height: 36px;
          //border: 1px solid #A3A0FB;
          //border-radius: 10px;
          //padding-top: 3px;
          //padding-bottom: 3px;
          //padding-left: 15px;
          //background: #f5f5f5;

          .label-turma-select {
              font-size: 30px; 
              font-weight: bold; 
              color: black;
          }

          .button-turma-select {
              display: inline-block;

              .icon-select {
                  --color: black;
                  --opacity: 1;
              }
          }
      }
  }

  /* .grid-section-children {
      padding: 10px 60px 10px 60px; 
      font-size: 20px;
      //margin-top: 10px;
      //margin-bottom: 10px;

      .icon-search {
          display: flex; 
          float: left;
      }
  } */
}

.sc-ion-buttons-md-s .button-clear, .sc-ion-buttons-md-s .button-outline {
  width: 24px;
  height: 24px;
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
  --padding-top: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;
  --padding-start: 0px;
} 

/* ion-content.background{
  --background: url(../../../assets/img/backTeste.png) no-repeat 100% 100%;
} */



=========================

.div-label-page {
  font-size: 24px;
  height: 70px;
  color: black;
  font-weight: 700;
  text-align: center;
  //margin-bottom: 20px;
  background: #ffc205;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;

  .label-name {
    display: block;
    padding-top: 10px;
  }

  .label-status {
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
  }
}

ion-toolbar {
  box-shadow: 0 0.5px 1px rgba(205, 210, 211, 1);
}




<!-- ============================PAGINA DE AVALIAÇÃO================================== -->


<!-- <ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button [defaultHref]="urlTurma"></ion-back-button>
  </ion-buttons>
  <ion-title>
    <ion-label class="label-titulo" *ngIf="aluno">{{aluno.nome}}</ion-label>
  </ion-title>
</ion-toolbar>
</ion-header> -->

<!-- <ion-content class="ion-padding container">

  <div class="div-avaliacao" slot="fixed">

    <div class="div-com-resultado">
      <div *ngIf="aluno" class="cabecalho-card-com-resultado">
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col size="2" class="ion-no-padding col-cabecalho">
              <ion-icon name="arrow-back-outline">
              </ion-icon>
            </ion-col>
            <ion-col size="8" class="ion-no-padding col-cabecalho">{{aluno.nome}}</ion-col>
            <ion-col size="2" class="ion-no-padding col-cabecalho">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

  <form [formGroup]="avaliacaoForm"> -->

<!-- =================== SEÇÃO DE ALIMENTAÇÃO ==================== -->
<!-- <div>
      <ion-item-divider class="item-divider">
        <ion-icon name="fast-food-outline" slot="start" size="small" class="icone-categoria"></ion-icon>
        <ion-label class="titulo-categoria">{{"Alimentação" | titlecase}}</ion-label>
      </ion-item-divider>

      <ion-item lines="none" class="item-categoria">
        <ion-label>Café da Manhã</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="cafeDaManha"
          [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'" class="select-item-categoria"
          selectedText="{{avaliacaoForm.controls.cafeDaManha.value}}">
          <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
          <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
          <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Lanche da Manhã</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="lancheDaManha"
          [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'" class="select-item-categoria">
          <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
          <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
          <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Almoço</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="almoco"
          [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'" class="select-item-categoria">
          <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
          <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
          <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Lanche da Tarde</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="lancheDaTarde"
          [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'" class="select-item-categoria">
          <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
          <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
          <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
 -->
<!-- =================== SEÇÃO DE HIGIENE ==================== -->
<!-- <div>
      <ion-item-divider class="item-divider">
        <ion-icon name="alert" slot="start" size="small" class="icone-categoria"></ion-icon>
        <ion-label class="titulo-categoria">{{"Higiene" | titlecase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Banho</ion-label>
        <ion-item class="item-opcao-categoria" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
          <ion-icon name="remove-circle-outline" (click)="decrementa('banho')" style="margin-right: 10px;"></ion-icon>
          <div class="div-categoria">
            {{avaliacaoForm.get('banho').value}}
          </div>
          <ion-icon name="add-circle-outline" (click)="incrementa('banho')" style="margin-left: 10px;"></ion-icon>
        </ion-item>
      </ion-item>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Fralda</ion-label>
        <ion-item class="item-opcao-categoria" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
          <ion-icon name="remove-circle-outline" (click)="decrementa('fralda')" style="margin-right: 10px;"></ion-icon>
          <div class="div-categoria">
            {{avaliacaoForm.get('fralda').value}}
          </div>
          <ion-icon name="add-circle-outline" (click)="incrementa('fralda')" style="margin-left: 10px;"></ion-icon>
        </ion-item>
      </ion-item>
      <ion-item lines="none" class="item-categoria">
        <ion-label ngStyle>Escovação</ion-label>
        <ion-item class="item-opcao-categoria" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
          <ion-icon name="remove-circle-outline" (click)="decrementa('escovacao')" style="margin-right: 10px;">
          </ion-icon>
          <div class="div-categoria">
            {{avaliacaoForm.get('escovacao').value}}
          </div>
          <ion-icon name="add-circle-outline" (click)="incrementa('escovacao')" style="margin-left: 10px;"></ion-icon>
        </ion-item>
      </ion-item>
    </div> -->

<!-- =================== SEÇÃO DE SAÚDE ==================== -->
<!-- <div>
      <ion-item-divider class="item-divider">
        <ion-icon name="alert" slot="start" size="small" class="icone-categoria"></ion-icon>
        <ion-label class="titulo-categoria">{{"Saúde" | titlecase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Febre?</ion-label>
        <ion-note slot="end" *ngIf="avaliacaoForm.get('febre').value">Sim</ion-note>
        <ion-note slot="end" *ngIf="!avaliacaoForm.get('febre').value">Não</ion-note>
        <ion-toggle slot="end" name="febre" color="dark" formControlName="febre" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'"></ion-toggle>
      </ion-item>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Urina</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="urina" class="select-item-categoria" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="escura">Escura</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Evacuação</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="evacuacao" class="select-item-categoria" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="ressecada">Ressecada</ion-select-option>
          <ion-select-option value="esbranquiçada">Esbranquiçada</ion-select-option>
          <ion-select-option value="diarréia">Diárréria</ion-select-option>
        </ion-select>
      </ion-item>
    </div> -->

<!-- =================== SEÇÃO DE SONO ==================== -->
<!-- <div>
      <ion-item-divider class="item-divider">
        <ion-icon name="alert" slot="start" size="small" class="icone-categoria"></ion-icon>
        <ion-label class="titulo-categoria">{{"Sono" | titlecase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Dormiu?</ion-label>
        <ion-note slot="end" *ngIf="avaliacaoForm.get('dormiu').value">Sim</ion-note>
        <ion-note slot="end" *ngIf="!avaliacaoForm.get('dormiu').value">Não</ion-note>
        <ion-toggle slot="end" color="dark" formControlName="dormiu" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'"></ion-toggle>
      </ion-item>

      <ion-item lines="none" *ngIf="avaliacaoForm.get('dormiu').value == true" class="item-categoria">
        <ion-label>Estado</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="estadoDoSono" class="select-item-categoria" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
          <ion-select-option value="tranquilo">Tranquilo</ion-select-option>
          <ion-select-option value="agitado">Agitado</ion-select-option>
        </ion-select>
      </ion-item>
    </div> -->

<!-- =================== SEÇÃO DE SOCIALIZAÇÃO ==================== -->
<!-- <div>
      <ion-item-divider class="item-divider">
        <ion-icon name="alert" slot="start" size="small" class="icone-categoria"></ion-icon>
        <ion-label class="titulo-categoria">{{"Socialização" | titlecase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Interação</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="interacao" class="select-item-categoria" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
          <ion-select-option value="boa">Boa</ion-select-option>
          <ion-select-option value="razoável">Razoável</ion-select-option>
          <ion-select-option value="fraca">Fraca</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="item-categoria">
        <ion-label>Participação</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="participacao" class="select-item-categoria" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
          <ion-select-option value="atenta">Atenta</ion-select-option>
          <ion-select-option value="dispersa">Dispersa</ion-select-option>
        </ion-select>
      </ion-item>
    </div> -->

<!-- =================== SEÇÃO DE OBSERVAÇÃO ==================== -->
<!-- <div>
      <ion-item-divider class="item-divider">
        <ion-icon name="alert" slot="start" size="small" class="icone-categoria"></ion-icon>
        <ion-label class="titulo-categoria">{{"Observação" | titlecase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" class="item-categoria">
        <ion-label position="stacked">Destaque do dia, Atividade para casa, etc.</ion-label>
        <ion-textarea formControlName="observacao" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'"></ion-textarea>
      </ion-item>
    </div>

  </form>

</div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid fixed style="padding-top: 0px; padding-bottom: 0px;">
      <ion-row>
        <ion-col size="6">
          <ion-button (click)="salvarAvaliacao(aluno.id)" color="dark" expand="block" fill="solid" mode="ios" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
            Salvar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button (click)="concluirAvaliacao(aluno.id)" color="dark" expand="block" fill="outline" mode="ios" [disabled]="avaliacaoForm.controls.status.value == 'CONCLUIDA'">
            Concluir
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->


<!-- ================================ LOGIN ================================= -->

<!-- <div class="ion-no-padding">
  <div class="ion-padding-top">
    <div class="label-field-form-user">
      <ion-label>Email</ion-label>
    </div>
    <ion-item lines="none" class="item-field-form-login">
      <ion-icon slot="start" name="mail-outline" size="small"></ion-icon>
      <ion-input type="text" name="email" formControlName="email"></ion-input>
    </ion-item>
  </div>
  <div class="ion-padding-top field-form-login">
    <div class="label-field-form-user">
      <ion-label>Senha</ion-label>
    </div>
    <ion-item lines="none" class="item-field-form-login">
      <ion-icon slot="start" name="lock-closed-outline" size="small"></ion-icon>
      <ion-input type="password" name="senha" formControlName="senha"></ion-input>
      <ion-icon slot="end" name="eye" size="small" style="color: #CDD2D3;"></ion-icon>
    </ion-item>
  </div>
</div> -->





<!-- <ion-content class="ion-padding">
  <div style="background: #1C1C20; height: 130px; width: 100%;">
  
    <div style="
    background: gold;
    position: absolute;
    top:0;
    width: 125%;
    height: 0px;
    border-bottom-left-radius: 100% 140%;
    border-bottom-right-radius: 100% 140%;
    left: -13%;
    right: -5%;
    padding-bottom: 250px">
  
  <div style="display: flex; justify-content: center; margin-top: 50px;">
    <img src="../../../assets/vector/logo-bem.te.vi-login.svg" alt="" style="width: 40%;">
  </div>
  
  </div>
  
  </div>
  
  
    <form [formGroup]="loginForm" (ngSubmit)="login()">
  
      <div style="display: grid; justify-content: center; position: relative;">
  
      <div class="div-form-login" style="background: #fff; padding: 10px 10px 40px 10px; border-radius: 10px; margin: 16px;">
  
        <ion-grid fixed>
          <ion-row style="background: #fff; border-bottom: 1px solid #CDD2D3; padding-bottom: 10px;">
            <ion-col size="2" style="display: flex;
            align-items: center;
            justify-content: center;">
              <ion-icon name="mail-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item lines="none">
                <ion-input type="email" formControlName="email" placeholder="E-mail" style="font-size: 18px;"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row style="background: #fff; padding-top: 10px;">
            <ion-col size="2" style="display: flex;
            align-items: center;
            justify-content: center;">
              <ion-icon name="lock-closed-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item lines="none">
                <ion-input [type]="hide ? 'password' : 'text'" formControlName="senha" placeholder="Senha" style="font-size: 18px;"></ion-input>
                
                <ion-button (click)="hide = !hide" style="--box-shadow: none; --background: #FFFFFF;">
                  <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'" slot="end" style="color: #CDD2D3;"></ion-icon>
                </ion-button>
              
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
  
      </div>
  
      <div style="width: 70%; margin: auto; margin-top: -45px;">
        <ion-button style="border-radius: 10px !important; height: 50px; font-size: 18px; letter-spacing: 1px; font-weight: 700; --background: linear-gradient(90deg, rgba(255,201,6,1) 0%, rgba(251,251,71,1) 100%);; color: #000;" expand="block" mode="ios" type="submit">
          ENTRAR
        </ion-button>
      </div>
    </div>
      
    </form>
  
  
    <div style="margin-top: 30px; padding-bottom: 10px; font-size: 14px; color: white; padding-left: 16px; padding-right: 16px;">
      <hr style="background: linear-gradient(90deg, rgba(28,28,32,1) 0%, rgba(255,255,255,1) 25%, rgba(243,243,243,1) 75%, rgba(28,28,32,1) 100%);">
    </div>
  
    <div (click)="login()" style="margin-top: 10px; text-align: center; color: white; font-size: 16px; font-weight: normal; letter-spacing: 1px;">
        <ion-label style="color: white; font-weight: 700;">Esqueceu a senha?</ion-label>
    </div>
  
  
  </ion-content> -->