
<ion-card class="card-progresso-avs ion-padding" style="margin-top: 10px; padding-top: 5px; padding-bottom: 8px;">
  

  <ion-item-divider style="--padding-start: 0px;">
    <ion-icon slot="start" name="pie" size="small" style="margin-right: 0px;"></ion-icon>
    <ion-label style="margin: 5px;">
      <div style="font-size: 20px; font-weight: bold;">
        Progresso das avaliações
      </div>
    </ion-label>
  </ion-item-divider>



  <div style="padding-top: 10px; padding-bottom: 5px;">
    <div style="display: flex; align-items: baseline; justify-content: space-between">
      <div style="float: left; font-size: 27px; font-weight: bold">
      50%
      </div>
      <div style=" float: right; font-size: 14px">
      10 de 20 concluídas
      </div>
    </div>
      <div>
          <ion-progress-bar color="wearning" value="0.5"></ion-progress-bar>
      </div>
  </div>

</ion-card>

