<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="primary" (click)="onClick()">
      <ion-button>
        <ion-label>Editar</ion-label>
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" style="--background: #F7F7F7; border-radius: 0px;">

  <ion-card style="background: white; width: 100%; height: 100%; margin: 0px; 
  border-radius: 0px; box-shadow: none;">
    <div class="ion-padding" style="display: flex; justify-content: center; align-items: center; 
    background: #f7f7f7; height: 50%; border-radius: 0px;">
      <div>
        <div class="circle">
          <img src="https://i.stack.imgur.com/atUuf.png">
        </div>

        <div class="personal-information">
          <h3>Francisca Lemos</h3>
          <p style="color: darkgray; font-size: 18px; margin-top: 0px; margin-bottom: 0px;">Cuidadora</p>
        </div>
      </div>
      <!-- <ion-button class="button-sair" (click)="onClick()">
        Sair
      </ion-button> -->
    </div>



    <div class="ion-padding" style="padding-top: 10px; height: 50%; background: #f7f7f7;">
      <form [formGroup]="editaInfoUsuarioForm" (ngSubmit)="onSubmit()">
        <ion-list class="ion-no-padding">

          <!-- <ion-list-header style="padding-left: 0px; background: #f7f7f7;">
                <ion-label style="font-weight: bold;">INFORMAÇÕES DE PERFIL</ion-label>
              </ion-list-header> -->

          <div class="ion-padding-top" style="background: #f7f7f7;">
            <div style="padding-bottom: 10px;">
              <ion-label>Telefone</ion-label>
            </div>
            <ion-item lines="none" style="border: 0.5px solid #E9E9E9; border-radius: 10px;">
              <ion-icon slot="start" name="call"></ion-icon>
              <ion-input type="text" name="telefone" formControlName="telefone" 
              [brmasker]="{phone: true}"></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding-top" style="background: #f7f7f7;">
            <div style="padding-bottom: 10px;">
              <ion-label>Senha</ion-label>
            </div>
            <ion-item lines="none" style="border: 0.5px solid #E9E9E9; border-radius: 10px;">
              <ion-icon slot="start" name="lock"></ion-icon>
              <ion-input type="password" formControlName="senha"></ion-input>
            </ion-item>
          </div>
        </ion-list>
      </form>
    </div>



    <!-- <div class="ion-padding" style="padding-top: 10px; height: 50%; background: #f7f7f7;">
      <ion-list class="ion-no-padding">

        <ion-list-header style="padding-left: 0px; background: #f7f7f7;">
          <ion-label style="font-weight: bold;">INFORMAÇÕES DE PERFIL</ion-label>
        </ion-list-header>

        <div class="ion-padding-top" style="background: #f7f7f7;">
          <div style="padding-bottom: 10px;">
              <ion-label>Telefone</ion-label>
          </div>
          <ion-item lines="none" style="border: 0.5px solid #E9E9E9; border-radius: 10px;">
            <ion-icon slot="start" name="call"></ion-icon>
            <ion-input type="number" value="(95) 99111-8293" ></ion-input>
          </ion-item>
        </div>
        <div class="ion-padding-top" style="background: #f7f7f7;">
            <div style="padding-bottom: 10px;">
                <ion-label>Senha</ion-label>
            </div>
          <ion-item lines="none" style="border: 0.5px solid #E9E9E9; border-radius: 10px;">
            <ion-icon slot="start" name="lock"></ion-icon>
            <ion-input type="password" value="(95) 99111-8293"></ion-input>
          </ion-item>
        </div>
      </ion-list>
    </div> -->

  </ion-card>

</ion-content>