<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" style="--background: #F7F7F7; border-radius: 3px;">

  <ion-card style="background: white; width: 100%; height: 100%; margin: 0px;">
    <div class="ion-padding">
      <div class="circle">
        <img src="https://i.stack.imgur.com/atUuf.png">
      </div>

      <div class="personal-information">
        <h2>Francisca Lemos</h2>
        <h5 style="color: darkgray;">Cuidadora</h5>
      </div>

      <ion-button class="button-sair" (click)="onClick()">
        Sair
      </ion-button>
    </div>

    <div class="ion-padding" style="padding-top: 10px;">

      <ion-list class="ion-no-padding">
        <ion-item-divider mode="md">
          <ion-label>
            DADOS PESSOAIS
          </ion-label>
        </ion-item-divider>

        <ion-item>
          <ion-label position="fixed">Nome</ion-label>
          <ion-input value="Francisca Lemos" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Telefone</ion-label>
          <ion-input value="(95) 99111-8293" disabled></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Senha</ion-label>
          <ion-input value="minhasenha" type="password" disabled></ion-input>
          <ion-icon slot="end" name="eye"></ion-icon>
        </ion-item>
      </ion-list>
    </div>

  </ion-card>

</ion-content>