<ion-content class="ion-padding container">

  <ion-list class="lista-opcoes" lines="none">

    <div class="div-cabecalho">
      <ion-item>
        <ion-icon name="arrow-back-outline" color="dark" size="small" (click)="voltar()"></ion-icon>
        <ion-label class="label-cabecalho">Perfil</ion-label>
      </ion-item>
    </div>

    <div class="div-usuario">
      <ion-item-divider class="item-divider">
        <ion-label>
          USUÁRIO
        </ion-label>
      </ion-item-divider>
      <ion-item class="item-usuario">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label *ngIf="profissional">
          <h3>Nome</h3>
          <p>{{profissional.nome}}</p>
        </ion-label>
      </ion-item>
      <ion-item class="item-usuario">
        <ion-icon name="school-outline" slot="start"></ion-icon>
        <ion-label *ngIf="profissional">
          <h3>Cargo</h3>
          <p>{{profissional.cargo}}</p>
        </ion-label>
      </ion-item>
      <ion-item class="item-usuario">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label *ngIf="profissional">
          <h3>E-mail</h3>
          <p>{{emailUsuario}}</p>
        </ion-label>
      </ion-item>
    </div>

    <div class="div-acesso">
      <ion-item-divider class="item-divider">
        <ion-label>
          ACESSO
        </ion-label>
      </ion-item-divider>
      <ion-item class="item-acesso" button (click)="redefinirSenha()" detail>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label>
          Redefinir senha
        </ion-label>
      </ion-item>
    </div>

    <div class="div-em-branco"></div>

    <ion-button expand="full" color="dark" class="btn-sair" (click)="logout()">Sair</ion-button>

  </ion-list>

</ion-content>