<div class="div-title">
  <ion-label>Nova atividade</ion-label>
</div>

<ion-content class="ion-padding">
    <form [formGroup]="novaAtividadeForm" (ngSubmit)="onSubmit()">
      <ion-item lines="none">
        <ion-textarea rows="4" formControlName="descricao" type="text" placeholder="Inserir descrição da atividade"></ion-textarea>
      </ion-item>
    </form>
</ion-content>

<div class="div-button">
  <ion-button expand="block" fill="outline" type="submit" mode="ios" class="button-concluido">
    Concluído
  </ion-button>
</div>