<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="icon-home" src="assets/svg/icon-inicio.svg"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atividades">
      <ion-icon class="icon-atividades" src="assets/svg/icon-atividades.svg"></ion-icon>
      <ion-label>Atividades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon class="icon-perfil" src="assets/svg/icon-perfil.svg"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
