<ion-toolbar class="toolbar">
  <ion-buttons slot="start">
    <ion-button class="no-ripple icon-logo">
      <ion-icon src="../../../assets/svg/icon-bem.te.vi.svg" style="font-size: 32px;"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="visualizarPerfil()" class="btn-icon-perfil">
      <ion-icon slot="icon-only" name="person-outline" style="font-size: 28px;"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title style="font-size: 36px; padding-left: 0px; font-family: 'Grand Hotel', cursive;">
  <div>
    <img src="../../../assets/svg/logo-toolbar.svg" style="width: 36%; display: flex;" alt="">
  </div>
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding container">
  <ion-list lines="none" class="ion-no-padding" class="lista-alunos">
    <ion-item *ngFor="let turma of turmas" (click)="selecionarTurma(turma.id)" class="item-card">
      <ion-card class="card">
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col size="2" class="ion-no-padding icon-col">
              <ion-icon src="../../../assets/svg/notebook.svg" size="large" class="icon-crianca"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding header-col">
              <ion-card-header class="header-card">
                <ion-card-title class="title-card">{{turma.nome}}
                </ion-card-title>
                <ion-card-subtitle class="subtitle-card">
                  {{'Sala ' + turma.sala}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="content-card">
                {{turma.qtdeMatriculas}} alunos
              </ion-card-content>
            </ion-col>
            <ion-col size="1" class="ion-no-padding icon-arrow-col">
              <ion-icon name="chevron-forward-outline"  size="small" class="icon-arrow"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>

  

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar style="--background: #FFF;">
    <ion-title style="text-align: center; font-size: 14px; color: #C1C8D9;">Selecione uma turma para continuar.</ion-title>
  </ion-toolbar>
</ion-footer>















<!-- 
<ion-content class="ion-padding container" scroll-y="false" slot="fixed">

  <div style="text-align: center; font-size: 18px; margin: 16px 0px 24px; border-radius: 10px; background: #FBFB47;">
    Minhas turmas
  </div>

  <ion-list lines="none" class="ion-no-padding" style="background: #FBFB47;">
    <ion-item *ngFor="let turma of turmas" (click)="selecionarTurma(turma.id)" class="item-card">
      <ion-card style="width: 100%; height: 109px; box-shadow:none; background: #FFFFFF; border-radius: 10px;
      margin: 0px 0px 10px;">
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col size="2" class="ion-no-padding" style="display: flex;
            align-items: center;
            justify-content: center;">
              <ion-icon name="easel-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding" style="height: 109px;">
              <ion-card-header style="padding: 5px 0px 0px">
                <ion-card-title style="padding-top: 10px; font-size: 24px;">{{turma.nome}}</ion-card-title>
                <ion-card-subtitle style="font-size: 18px; margin-top: 0px; padding-bottom: 10px;">Sala {{turma.sala}}</ion-card-subtitle>
              </ion-card-header>
      
              <ion-card-content style="padding-left: 0px; padding-right: 10px;">
                {{turma.qtdeMatriculas}} alunos
              </ion-card-content>
            </ion-col>
            <ion-col size="1" class="ion-no-padding" style="display: flex; align-items: center; align-content: center; vertical-align: middle;">
              <ion-icon name="chevron-forward-outline"  size="small" style="color: darkgrey;"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>


  <div *ngIf="turmas"  style="text-align: center; font-size: 12px; position: absolute; bottom: 100px; margin-left: auto;
  left: 0;
  right: 0;">
    Selecione uma turma para continuar.
  </div>

  <div style="
  background: #FFFFFF;
  position:absolute;
  bottom:0;
  width: 110%;
  height: 0px;
  border-top-left-radius: 100% 140%;
  border-top-right-radius: 100% 140%;
  left: -5%;
  right: -5%;
  padding-bottom: 80px;
  ">

    <ion-grid fixed>
      <ion-row style="padding-top: 22px; padding-left: 32px; padding-right: 32px;">
        <ion-col size="1" class="ion-no-padding" style="padding-top: 5px;">
          <ion-icon name="person-outline" style="font-size: 29px;"></ion-icon>
        </ion-col>
        <ion-col size="10" class="ion-no-padding">
          <div style="text-align: center;" *ngIf="profissional">
            <ion-label style="display: block; font-weight: bold; font-size: 18px;">{{profissional.nome}}</ion-label>
            <ion-label style="color: darkgrey; font-size: 14px;">{{profissional.cargo | titlecase}}</ion-label>
          </div>
        </ion-col>
        <ion-col size="1" class="ion-no-padding" style="padding-top: 5px;">
          <ion-icon name="log-out-outline" size="large" (click)="logout()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content> -->