<ion-toolbar class="toolbar">
  <ion-buttons slot="start">
    <ion-button class="no-ripple icon-logo">
      <ion-icon src="../../../assets/svg/icon-bem.te.vi.svg" style="font-size: 32px;"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="visualizarPerfil()" class="btn-icon-perfil">
      <ion-icon slot="icon-only" name="person-outline" style="font-size: 28px;"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title class="logo-toolbar">
    <div>
      <img src="../../../assets/svg/logo-toolbar.svg" class="img-logo">
    </div>
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding container">
  <ion-list lines="none" class="ion-no-padding" class="lista-alunos">
    <ion-item *ngFor="let turma of turmas" (click)="selecionarTurma(turma.id)" class="item-card">
      <ion-card class="card">
        <ion-grid fixed class="ion-no-padding">
          <ion-row>
            <ion-col size="2" class="ion-no-padding icon-col">
              <ion-icon src="../../../assets/svg/notebook.svg" size="large" class="icon-crianca"></ion-icon>
            </ion-col>
            <ion-col size="9" class="ion-no-padding header-col">
              <ion-card-header class="header-card">
                <ion-card-title class="title-card">{{turma.nome}}
                </ion-card-title>
                <ion-card-subtitle class="subtitle-card">
                  {{'Sala ' + turma.sala}}</ion-card-subtitle>
              </ion-card-header>

              <ion-card-content class="content-card">
                <div [ngPlural] = "turma.qtdeMatriculas">
                  <ng-template ngPluralCase="=1">
                    {{turma.qtdeMatriculas}} aluno
                  </ng-template>
                  <ng-template ngPluralCase="other">
                    {{turma.qtdeMatriculas}} alunos
                  </ng-template>
                </div>
              </ion-card-content>
            </ion-col>
            <ion-col size="1" class="ion-no-padding icon-arrow-col">
              <ion-icon name="chevron-forward-outline" size="small" class="icon-arrow"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="toolbar-footer">
    <ion-title class="titulo-toolbar">Selecione uma turma para continuar.</ion-title>
  </ion-toolbar>
</ion-footer>