<ion-content class="ion-padding">

  <h3>Bem-vindo!</h3>

  <div>
    Aqui ficará o logo da BEMTEVI!
  </div>

  <div class="div-form-login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="ion-no-padding div-field-form-login">
        <div class="ion-padding-top field-form-login">
          <div class="label-field-form-user">
            <ion-label>Código de Acesso</ion-label>
          </div>
          <ion-item lines="none" class="item-field-form-login">
            <ion-icon slot="start" name="mail" size="small"></ion-icon>
            <ion-input type="text" name="codigoDeAcesso" formControlName="codigoDeAcesso"></ion-input>
          </ion-item>
        </div>
        <div class="ion-padding-top field-form-login">
          <div class="label-field-form-user">
            <ion-label>Senha</ion-label>
          </div>
          <ion-item lines="none" class="item-field-form-login">
            <ion-icon slot="start" name="lock" size="small"></ion-icon>
            <ion-input type="password" formControlName="senha"></ion-input>
            <ion-icon slot="end" name="eye" size="small" style="color: #CDD2D3;"></ion-icon>
          </ion-item>
        </div>
      </div>

      <div style="padding-top: 10px; padding-bottom: 20px; float: right; font-size: 14px;">
        <ion-label><strong>Esqueci</strong> minha senha</ion-label>
      </div>
      

      <ion-button style="border-radius: 10px !important; height: 44px;" 
      expand="block" mode="ios" type="submit" (onclick)="login()">
        Entrar
      </ion-button>
    </form>
  </div>
</ion-content>