<ion-content class="ion-padding">

  <div class="div-container-circulo">
    <div class="div-circulo">
      <div class="div-img-logo">
        <img src="../../../assets/svg/logo-bem.te.vi-login.svg" alt="" class="img-logo">
      </div>
    </div>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="div-form-login">
      <div class="div-form-campos-login">
        <ion-grid fixed>
          <ion-row class="row-email-login">
            <ion-col size="2" class="col-icon">
              <ion-icon name="mail-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item lines="none">
                <ion-input type="email" formControlName="email" placeholder="E-mail" class="input-login">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="row-senha-login">
            <ion-col size="2" class="col-icon">
              <ion-icon name="lock-closed-outline" size="large"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-item lines="none">
                <ion-input [type]="hide ? 'password' : 'text'" formControlName="senha" placeholder="Senha"
                  class="input-login"></ion-input>
                <ion-button (click)="hide = !hide" class="btn-icon-mostra-senha">
                  <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'" slot="end"
                    class="icon-mostra-senha"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="div-btn-entrar">
        <ion-button class="btn-entrar" expand="block" mode="ios" type="submit">
          {{'entrar' | uppercase}}
        </ion-button>
      </div>
    </div>
  </form>

  <div class="div-hr">
    <hr>
  </div>

  <div (click)="esqueceuSenha()" class="div-esqueceu-senha">
    <ion-label class="label-esqueceu-senha">Esqueceu a senha?</ion-label>
  </div>

</ion-content>