* {
    margin: 0;
}

.sc-ion-buttons-md-s .button-clear, .sc-ion-buttons-md-s .button-outline {
    width: 32px;
    height: 32px;
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
}



