ion-content {
    font-family: 'Open Sans', sans-serif;
}

.background-radius {
    background-color: white; 
    width: 120%; 
    height: 87%; 
    left: -10%;
    right:-10%;
    position: absolute; 
    bottom: 0;
    border-top-left-radius: 50% 25%;
    border-top-right-radius: 50% 25%;

    .background-circle {
        background-color: white;
        width: 130px; 
        height: 130px; 
        position: relative;
        top: -60px;
        bottom: 0px;
        margin-left:auto;
        margin-right:auto;
        border-radius: 50% 50%;

        .progress-circle {
            background-color: #A3A0FB;
            width: 100px; 
            height: 100px; 
            right: 0px;
            left: 0px;
            position: absolute;
            margin-top: 10px;
            margin-left:auto;
            margin-right:auto;
            border-radius: 50% 50%;

            .label-progress-circle {
                font-size: 14px;
                color: black;
                width: 110px;
                margin-top: 105px; 
                text-align: center;
                position: relative;
                left: -5px
            }
        }
    }

    .turma-section {
        position: relative;
        padding: 0px 60px 0 60px; 
        top: -20px;
        display:flex; 
        justify-content:center;

        .turma-select {
            display: flex; 
            align-items: center;
            max-width: 300px; 
            height: 36px;
            //border: 1px solid #A3A0FB;
            //border-radius: 10px;
            //padding-top: 3px;
            //padding-bottom: 3px;
            //padding-left: 15px;
            //background: #f5f5f5;

            .label-turma-select {
                font-size: 30px; 
                font-weight: bold; 
                color: black;
            }

            .button-turma-select {
                display: inline-block;

                .icon-select {
                    --color: black;
                    --opacity: 1;
                }
            }
        }
    }

    /* .grid-section-children {
        padding: 10px 60px 10px 60px; 
        font-size: 20px;
        //margin-top: 10px;
        //margin-bottom: 10px;

        .icon-search {
            display: flex; 
            float: left;
        }
    } */
}

.sc-ion-buttons-md-s .button-clear, .sc-ion-buttons-md-s .button-outline {
    width: 24px;
    height: 24px;
}

.sc-ion-buttons-md-s .button-has-icon-only.button-clear {
    --padding-top: 0px;
    --padding-end: 0px;
    --padding-bottom: 0px;
    --padding-start: 0px;
} 

/* ion-content.background{
    --background: url(../../../assets/img/backTeste.png) no-repeat 100% 100%;
} */






