<ion-content style="--background: #FFC205;">

  <div class="background-radius">
    
    <div class="background-circle">
      <app-progresso-avaliacoes></app-progresso-avaliacoes>
    </div>

    <div class="turma-section">
      <div class="turma-select" (click)="openSelect()">
        <div class="label-turma-select">
          {{formGroup.controls.turmaSelecionada.value}}
        </div>
        <ion-buttons class="button-turma-select" slot="primary" *ngIf="true">
          <ion-button class="icon-select" disabled>
            <ion-icon slot="icon-only" name="arrow-down" mode="ios" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>

    <form [formGroup]="formGroup">
      <ion-select interface="action-sheet" mode="md" #listaDeTurmas [hidden]='mostraLista'
      *ngIf="true" formControlName="turmaSelecionada" [value]="formGroup.controls.turmaSelecionada.value">
        <ion-select-option *ngFor="let turma of turmas" value="{{turma}}">{{turma.nome}}</ion-select-option>
      </ion-select>
    </form>

    <app-lista-alunos-avaliacao [turma]="formGroup.controls.turmaSelecionada"></app-lista-alunos-avaliacao> -->
    
  </div>

</ion-content>

