.container {
  font-family: "Roboto";
  --background: #FBFB47;
}

.label-titulo {
  display: block; 
  font-size: 20px; 
  color: #000; 
  padding-left: 0px;
  padding-right: 52px;
  text-align: center;
}

.icone-categoria {
  margin-right: 5px; 
  margin-left: 0px; 
  margin-top: 9px;
  margin-bottom: 9px;
  background: #FFFFFF; 
  border-radius: 50%; 
  padding: 4px;
}

.titulo-categoria {
  font-size: 18px; 
  color: #000000;
  font-weight: 500;
}

.item-divider {
 background: #FBFB47; 
 border-bottom-width: 0px;
 padding-left: 0px;
}

.item-categoria {
  margin: 10px 0px; 
  border-radius: 10px; 
  --inner-border-width: 0px;
}

.select-item-categoria {
  color: #9ba5a7; 
  font-weight: 500; 
  font-size: 14px;
}

.div-categoria {
  text-align: center; 
  width: 14px; 
  font-weight: 500; 
  color: #9BA5A7;
}

ion-note {
  font-size: 14px;
  color: #9BA5A7;
  padding-top: 16px;
}

ion-textarea {
  font-size: 14px;
  color: #9BA5A7;
}

//====================================