<ion-content class="ion-padding" style="--background: #F7F7F7; border-radius: 3px;">


  <!--  <ion-list>
    <ion-list-header>
      <ion-label>Alimentação</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of questoesAlimentacao">
      <ion-label>{{item.descricao}}</ion-label>
      <ion-select interface="popover" placeholder="">
        <ion-select-option value="">Aceitou bem</ion-select-option>
        <ion-select-option value="">Aceitou pouco</ion-select-option>
        <ion-select-option value="">Não aceitou</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list> -->


  <form [formGroup]="avaliacaoForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-list-header>
        Avaliação do Luigi
      </ion-list-header>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>Alimentação</ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let item of questoesAlimentacao" lines="none">
          <ion-label>{{item.descricao}}</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">Aceitou bem</ion-select-option>
            <ion-select-option value="">Aceitou pouco</ion-select-option>
            <ion-select-option value="">Não aceitou</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item-divider>
          <ion-label>Saúde</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label>Urina</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">Normal</ion-select-option>
            <ion-select-option value="">Escura</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Evacuação</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">Normal</ion-select-option>
            <ion-select-option value="">Ressecada</ion-select-option>
            <ion-select-option value="">Diárréria</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Febre</ion-label>
          <ion-toggle slot="end" name="febre" color="warning"></ion-toggle>
        </ion-item>

        <ion-item-divider>
          <ion-label>Higiene</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label>Banho</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">1 vez</ion-select-option>
            <ion-select-option value="">2 vezes</ion-select-option>
            <ion-select-option value="">3 vezes</ion-select-option>
            <ion-select-option value="Mais que 3 vezes">Mais que 3 vezes</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Fralda</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">1 vez</ion-select-option>
            <ion-select-option value="">2 vezes</ion-select-option>
            <ion-select-option value="">3 vezes</ion-select-option>
            <ion-select-option value="Mais que 3 vezes">Mais que 3 vezes</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Escovação</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">1 vez</ion-select-option>
            <ion-select-option value="">2 vezes</ion-select-option>
            <ion-select-option value="">3 vezes</ion-select-option>
            <ion-select-option value="Mais que 3 vezes">Mais que 3 vezes</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item-divider>
          <ion-label>Sono</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label>Dormiu</ion-label>
          <ion-toggle slot="end" color="warning" formControlName="dormiu"></ion-toggle>
        </ion-item>

        <ion-item lines="none" *ngIf="avaliacaoForm.get('dormiu').value == true">
          <ion-label>Estado</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">Tranquilo</ion-select-option>
            <ion-select-option value="">Agitado</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item-divider>
          <ion-label>Socialização</ion-label>
        </ion-item-divider>

        <ion-item lines="none">
          <ion-label>Interação</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">Boa</ion-select-option>
            <ion-select-option value="">Razoável</ion-select-option>
            <ion-select-option value="">Não interagiu</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label>Participação</ion-label>
          <ion-select interface="popover" placeholder="">
            <ion-select-option value="">Dispersa</ion-select-option>
            <ion-select-option value="">Ativa</ion-select-option>
          </ion-select>
        </ion-item>


      </ion-item-group>
    </ion-list>
  </form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active" >
        <ion-label>Salvar rascunho</ion-label>
        <ion-icon slot="start" name="finger-print"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active">
        <ion-label>Concluir avaliação</ion-label>
        <ion-icon slot="start" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>