<ion-toolbar>
  <ion-buttons slot="secondary" style="margin-right: 16px;">
    <ion-button>
      <ion-icon slot="icon-only" name="save"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="start" style="margin-left: 16px;">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-title style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
    <ion-label style="display: block; font-size: 20px; color: #000;" *ngIf="aluno" >{{aluno.nome}}</ion-label>
    <ion-label style="font-size: 14px; color: #9BA5A7;">Finalizada</ion-label>
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding">

  <form [formGroup]="avaliacaoForm" (ngSubmit)="onSubmit()">

    <!-- =================== SEÇÃO DE ALIMENTAÇÃO ==================== -->
    <div style="border: 1px solid #e5efef; border-radius: 10px; margin-bottom: 5px;">
      <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0; padding-left: 5px;">
        <ion-icon name="alert" slot="start" size="small"
          style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px; background: #FFC205; border-radius: 50%; padding: 3px;">
        </ion-icon>
        <ion-label style="font-size: 18px; color: #FFC205;">{{"Alimentação" | uppercase}}</ion-label>
      </ion-item-divider>

      <ion-item lines="none"
        style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; --inner-border-width: 0;">
        <ion-label>Café da Manhã</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="cafeDaManha"
          style="color: #9BA5A7; font-weight: bold;">
          <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
          <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
          <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none"
        style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; --inner-border-width: 0;">
        <ion-label>Lanche da Manhã</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="lancheDaManha"
          style="color: #9BA5A7; font-weight: bold;">
          <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
          <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
          <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none"
        style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; --inner-border-width: 0;">
        <ion-label>Almoço</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="almoco"
          style="color: #9BA5A7; font-weight: bold;">
          <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
          <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
          <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none"
        style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; --inner-border-width: 0;">
        <ion-label>Lanche da Tarde</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="lancheDaTarde"
          style="color: #9BA5A7; font-weight: bold;">
          <ion-select-option value="aceitou bem">Aceitou bem</ion-select-option>
          <ion-select-option value="aceitou pouco">Aceitou pouco</ion-select-option>
          <ion-select-option value="não aceitou">Não aceitou</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- =================== SEÇÃO DE HIGIENE ==================== -->
    <div style=" border-radius: 10px; margin-bottom: 5px;">
      <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
        <ion-icon name="alert" slot="start" size="small"
          style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
        <ion-label style="font-size: 16px; color: goldenrod;">{{"Higiene" | uppercase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; ">
        <ion-label>Banho</ion-label>
        <ion-icon name="remove-circle" (click)="decrementa('banho')" style="margin-right: 10px;"></ion-icon>
        <div style="text-align: center; width: 20px; font-weight: bold; color: #9BA5A7;">
          {{avaliacaoForm.get('banho').value}}
        </div>
        <ion-icon name="add-circle" (click)="incrementa('banho')" style="margin-left: 10px;"></ion-icon>
      </ion-item>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; ">
        <ion-label>Fralda</ion-label>
        <ion-icon name="remove-circle" (click)="decrementa('fralda')" style="margin-right: 10px;"></ion-icon>
        <div style="text-align: center; width: 20px; font-weight: bold; color: #9BA5A7;">
          {{avaliacaoForm.get('fralda').value}}
        </div>
        <ion-icon name="add-circle" (click)="incrementa('fralda')" style="margin-left: 10px;"></ion-icon>
      </ion-item>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px; ">
        <ion-label>Escovação</ion-label>
        <ion-icon name="remove-circle" (click)="decrementa('escovacao')" style="margin-right: 10px;"></ion-icon>
        <div style="text-align: center; width: 20px; font-weight: bold; color: #9BA5A7;">
          {{avaliacaoForm.get('escovacao').value}}
        </div>
        <ion-icon name="add-circle" (click)="incrementa('escovacao')" style="margin-left: 10px;"></ion-icon>
      </ion-item>
    </div>

    <!-- =================== SEÇÃO DE SONO ==================== -->
    <div style="border-radius: 10px; margin-bottom: 5px;">
      <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
        <ion-icon name="alert" slot="start" size="small"
          style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
        <ion-label style="font-size: 16px; color: goldenrod;">{{"Sono" | uppercase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
        <ion-label>Dormiu</ion-label>
        <ion-note slot="end" *ngIf="avaliacaoForm.get('dormiu').value">Sim</ion-note>
        <ion-note slot="end" *ngIf="!avaliacaoForm.get('dormiu').value">Não</ion-note>
        <ion-toggle slot="end" color="warning" formControlName="dormiu"></ion-toggle>
      </ion-item>

      <ion-item lines="none" *ngIf="avaliacaoForm.get('dormiu').value == true"
        style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
        <ion-label>Estado</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="estadoDoSono">
          <ion-select-option value="tranquilo">Tranquilo</ion-select-option>
          <ion-select-option value="agitado">Agitado</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- =================== SEÇÃO DE SAÚDE ==================== -->
    <div style="border-radius: 10px; margin-bottom: 5px;">
      <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
        <ion-icon name="alert" slot="start" size="small"
          style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
        <ion-label style="font-size: 16px; color: goldenrod;">{{"Saúde" | uppercase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
        <ion-label>Febre</ion-label>
        <ion-note slot="end" *ngIf="avaliacaoForm.get('febre').value">Sim</ion-note>
        <ion-note slot="end" *ngIf="!avaliacaoForm.get('febre').value">Não</ion-note>
        <ion-toggle slot="end" name="febre" color="warning" formControlName="febre"></ion-toggle>
      </ion-item>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
        <ion-label>Urina</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="urina">
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="escura">Escura</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
        <ion-label>Evacuação</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="evacuacao">
          <ion-select-option value="normal">Normal</ion-select-option>
          <ion-select-option value="ressecada">Ressecada</ion-select-option>
          <ion-select-option value="esbranquiçada">Esbranquiçada</ion-select-option>
          <ion-select-option value="diarréia">Diárréria</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- =================== SEÇÃO DE SOCIALIZAÇÃO ==================== -->
    <div style="border-radius: 10px; margin-bottom: 5px;">
      <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
        <ion-icon name="alert" slot="start" size="small"
          style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
        <ion-label style="font-size: 16px; color: goldenrod;">{{"Socialização" | uppercase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
        <ion-label>Interação</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="interacao">
          <ion-select-option value="boa">Boa</ion-select-option>
          <ion-select-option value="razoável">Razoável</ion-select-option>
          <ion-select-option value="fraca">Fraca</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
        <ion-label>Participação</ion-label>
        <ion-select interface="popover" placeholder="" formControlName="participacao">
          <ion-select-option value="atenta">Atenta</ion-select-option>
          <ion-select-option value="dispersa">Dispersa</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- =================== SEÇÃO DE OBSERVAÇÃO ==================== -->
    <div style="border-radius: 10px; margin-bottom: 5px;">
      <ion-item-divider style="border-bottom-width: 0px; border-radius: 10px 10px 0 0;">
        <ion-icon name="alert" slot="start" size="small"
          style="margin-right: 5px; margin-left: 0px; margin-top: 10px; margin-bottom: 10px;"></ion-icon>
        <ion-label style="font-size: 16px; color: goldenrod;">{{"Observação" | uppercase}}</ion-label>
      </ion-item-divider>
      <ion-item lines="none" style="border: 1px solid #e5efef; margin: 5px; border-radius: 10px;">
        <ion-label position="stacked">Atenção!</ion-label>
        <ion-textarea formControlName="observacao"></ion-textarea>
      </ion-item>
    </div>

    <ion-button type="submit" expand="block" fill="clear" shape="round">
      Click me
    </ion-button>

  </form>

</ion-content>