.container {
  --background: #fff475;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-card {
  margin: 16px;
  height: 93%;
  border-radius: 10px;
  //bottom: 12px;
  min-width: -webkit-fill-available;
  right: 0px;
  left: 0px;
  top: 0px;
}

.div-avaliacao {
  background: #ffffff;
  text-align: center;
  //border-radius: 10px 10px 0px 0px;
  height: 83.5%;
  align-content: center;
  overflow: auto;

  //display: grid;
}

.cabecalho-card {
  min-height: 48px;
  //background: #D4E1F4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  color: #000;
  font-weight: 900;
  border-bottom: 0.5px solid #d4e1f4;
  padding-top: 4px;
  margin-top: 5px;
  background: white; 
  padding-left: 16px;
  padding-right: 16px;
}

.div-form-categorias {
  height: 100%;
  overflow: auto;
}

.botoes-avaliacao {
  min-height: 48px;
  background: #f6f6f6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  padding: 4px;
}

.btn-salvar {
  --box-shadow: none; 
  margin: 0px; 
  height: 48px; 
  --background: #F6F6F6; 
  color: #C4C4C4; 
  border-right: 1px solid #C4C4C4;
}

.btn-concluir {
  --box-shadow: none; 
  margin: 0px; 
  height: 48px; 
  --border-radius: 10px; 
  --background: #F6F6F6; 
  color: #C4C4C4;
}

.div-separacao {
  border-bottom: 0.5px solid #D4E1F4;
}

.item-divider {
  border-bottom-width: 0px;
  font-size: 16px;
  font-weight: 900;
  color: #000;
  background: #f6f6f6;
}

.item-categoria {
  margin: 0px 0px;
  --inner-border-width: 0px;
}

.item-opcao-categoria {
  --inner-padding-end: 0px;
  --inner-border-width: 0px;
  padding-left: 0px;
}

#opcao-higiene {
  display: grid;
}

.select-item-categoria {
  color: #9ba5a7;
  font-weight: 500;
  font-size: 14px;
}

.div-categoria {
  text-align: center;
  width: 14px;
  font-weight: 500;
  color: #9ba5a7;
}

ion-note {
  font-size: 14px;
  color: #9ba5a7;
  padding-top: 16px;
}

ion-textarea {
  font-size: 14px;
  color: #9ba5a7;
}

.btn-finalizar {
  --border-top-right-radius: 10px;
}

/* .container {
  font-family: "Roboto";
  --background: #FBFB47;
}

.div-avaliacao {
  background: #FFFFFF;
  border-radius: 10px;
}

.div-com-resultado {
  background: #FFFFFF; 
  text-align: center; 
  border-radius: 10px 10px 0px 0px; 
  height: 90.5%; 
  align-content: center; 
}

.cabecalho-card-com-resultado {
  min-height: 48px;
  //background: #D4E1F4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  font-size: 16px;
  color: #000;
  font-weight: 900;
  border-bottom: 0.5px solid #D4E1F4;
  padding-top: 4px;
  margin-bottom: 10px;
}

.label-titulo {
  display: block; 
  font-size: 20px; 
  color: #000; 
  padding-left: 0px;
  padding-right: 52px;
  text-align: center;
}

.icone-categoria {
  background: rgb(255, 255, 255); 
  border-radius: 25%; 
  padding: 8px;
  margin: 0px 8px 0px 8px;
  font-size: 32px;
}

.titulo-categoria {
  font-size: 18px; 
  color: #000000;
  font-weight: 500;
}

.item-divider {
 border-bottom-width: 0px;
 padding-left: 0px;
}

.item-categoria {
  margin: 2px 0px; 
  --inner-border-width: 0px;
}

.item-opcao-categoria {
  --inner-padding-end: 0px;
  --inner-border-width: 0px;
    padding-left: 0px;

}

#opcao-higiene {
  display: grid;
}


.select-item-categoria {
  color: #9ba5a7; 
  font-weight: 500; 
  font-size: 14px;
}

.div-categoria {
  text-align: center; 
  width: 14px; 
  font-weight: 500; 
  color: #9BA5A7;
}

ion-note {
  font-size: 14px;
  color: #9BA5A7;
  padding-top: 16px;
}

ion-textarea {
  font-size: 14px;
  color: #9BA5A7;
}
 */
//====================================
