<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="turmas"></ion-back-button>
  </ion-buttons>
  <ion-title style="padding-right: 52px; padding-left: 0px; text-align: center;">Alunos para avaliação</ion-title>
</ion-toolbar>

<ion-content class="ion-padding container">
  <div>
    <ion-list lines="none" class="ion-no-padding lista-alunos">
      <ion-item class="item-aluno" *ngFor="let aluno of alunos;"
        (click)="avaliarAluno(aluno.id)">
        <label>{{aluno.nome}}</label>
        <ion-icon slot="end" name="chevron-forward-outline" style="color: darkgray;"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>