.in-toolbar {
    --background: var(--ion-toolbar-background,var(--ion-background-color,#FBFB47));
}

.container {
    font-family: 'Roboto';
    --background: #FBFB47;
}

.titulo-pagina {
    text-align: center;
    font-size: 18px;
}

.lista-alunos {
    background: #FBFB47;
}

.item-aluno {
    border-radius: 10px;
    margin-top: 10px;
    --padding-top: 5px;
    --padding-bottom: 5px; 
}