.toolbar {
    --background: linear-gradient(90deg, rgba(255, 203, 8, 1) 0%, rgba(251, 251, 71, 1) 100%);
}

.container {
    font-family: "Roboto";
    --background: linear-gradient(90deg, rgba(255, 203, 8, 1) 0%, rgba(251, 251, 71, 1) 100%);
}

.titulo-pagina {
    text-align: center;
    font-size: 18px;
    padding-right: 52px;
    padding-left: 0px;
}

.lista-alunos {
    border-radius: 10px;
    padding: 0px;
}

.item-card {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --background: linear-gradient(90deg, rgba(255, 203, 8, 1) 0%, rgba(251, 251, 71, 1) 100%);
}

.icon-arrow {
    color: #c1c8d9;
}

.card {
    width: 100%;
    box-shadow: none;
    background: #ffffff;
    border-radius: 10px;
    margin: 0px;
    padding: 15px 0px 15px 0px;
    //border: 3px solid #C1C8D9;
}

.icon-crianca {
    color: #c1c8d9;
}

.icon-col {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.5px solid #c1c8d9;
}

.header-col {
    padding-left: 16px;
}

.header-card {
    padding: 0px 0px 0px;
}

.title-card {
    padding-top: 8px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #1c1c20;
}

.content-card {
    font-size: 18px;
    color: #c1c8d9;
    //font-weight: 700;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 10px;
}

.icon-arrow-col {
    display: flex;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}

.icon-arrow {
    color: #c1c8d9;
}
