.div-title {
    padding: 20px 10px 10px 10px; 
    font-weight: bold; 
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
    font-size: 18px;
}

.div-button {
    display: flex; 
    justify-content: center;

    .button-concluido {
        width: 120px; 
        height: 35px; 
        text-align: center;
    }

}