<ion-header mode="ios">
  <ion-toolbar>
    <!-- <ion-buttons slot="primary">
      <ion-button (click)="openPeriodo = !openPeriodo">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons> -->

    <ion-title>Atividades</ion-title>

  </ion-toolbar>
</ion-header>

<!-- <div *ngIf="openPeriodo">
  <ion-list style="padding: 0px">
    <ion-item lines="none">
      <ion-label>Data Inicial</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Ex.: 02/07/2019"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Data Final</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Ex.: 05/07/2019"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-button expand="full" mode="ios" style="margin: 0px;" color="warning">Filtrar</ion-button>
</div> -->

<ion-content class="ion-padding" style="--background: #F7F7F7; --padding-top: 0px">

  <!-- Searchbar with a placeholder -->

  <ion-grid fixed style="padding: 0px;">
    <ion-row>
      <ion-col size="10">
        <ion-searchbar placeholder="Filtrar por Descrição" mode="ios" style="padding: 0px;"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none" style="--background: rgba(var(--ion-text-color-rgb,0,0,0),0.07); border-radius: 10px; margin-left: 0px;     margin-left: 0px;
          margin-top: 12px; height: 36px;" (click)="openSelect()">
          <ion-icon name="funnel" mode="md" style="margin-bottom: 12px;"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-select interface="popover" #filtro [hidden]='showFiltros' (ionChange)='setFiltro()' *ngIf="true">
    <ion-select-option value="hoje" selected>Hoje</ion-select-option>
    <ion-select-option value="semana">Esta semana</ion-select-option>
    <ion-select-option value="mês">Este Mês</ion-select-option>
    <ion-select-option value="ano">Este Ano</ion-select-option>
    <ion-select-option value="tudo">Tudo</ion-select-option>
  </ion-select>

  <ion-item-sliding id="itemAtividade" style="border: 0.5px solid #E9E9E9; border-radius: 10px; margin-bottom: 10px;">
    <ion-item (click)="openEditaAtividade()" lines="none">
      <ion-label style="padding-top: 10px; padding-bottom: 10px;" class="ion-text-wrap">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius pariatur sit voluptas aspernatur
          blanditiis mollitia ipsam quo provident suscipit!</p>
      </ion-label>
      <ion-note slot="end" style="margin-left: 0px;">
        10:45 AM
      </ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" expandable>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding id="itemAtividade" style="border: 0.5px solid #E9E9E9; border-radius: 10px;">
    <ion-item href="#" lines="none">
      <ion-label style="padding-top: 10px; padding-bottom: 10px;" class="ion-text-wrap">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eius pariatur sit voluptas aspernatur
          blanditiis mollitia ipsam quo provident suscipit!</p>
      </ion-label>
      <ion-note slot="end" style="margin-left: 0px;">
        10:45 AM
      </ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" expandable>
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-right: 16px; margin-bottom: 16px;">
    <ion-fab-button color="warning" mode="ios" style="--box-shadow: none" (click)="openNovaAtividade()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>